node_modules/
.next/
dist/
build/
.cache/
coverage/
**/*.log
.DS_Store
.env
.env.*

!public/**
!src/**
!package.json
!pnpm-lock.yaml
!yarn.lock
!package-lock.json
!next.config.js
!postcss.config.mjs
!tailwind.config.*
!tsconfig*.json
